.TarjetaContainer{
    border: 2px solid black;
    width: fit-content;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 11px 12px 20px 4px black;
}

.TarjetaContainer h3{
    font-size: 20px;
    margin: 10px;
}

.TarjetaContainer p{
    font: 15px;
    margin: 10px;
}

.ImagenTarjeta{
    margin: 15px;
}

.Contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ImagenItem{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.BotonDetalle{
    padding:5px 40px;
    margin: 20px;
    background-color: rgb(174, 165, 165);
    border-radius: 20px;
    box-shadow: inset 0px 0px 9px 1px black;
}

.TarjetaDetalle{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
}

.TarjetaDetalle h3{
    font-size: 25px;
}

.TarjetaDetalle p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.TarjetaDetalle h4{
    font-size: 20px;
}