@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(233, 229, 229);
  font-family: 'Lato', sans-serif;
}

footer{
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

